{% extends "base.htm" %}

{% block title %}Add new item{% endblock %}
{% block heading %}Add new item{% endblock %}

{% block content %}
<p>
<form action="/add/" method="post">
name: <input type="text" name="name" value="{{ item.name }}"/><br/>
description: <input type="text" name="description" value="{{ item.description }}"/><br/>
seller: <input type="text" name="seller" value="{{ item.seller }}"/><br/>
price: <input type="text" name="price" value="{{ item.price_dollars|floatformat:2 }}"/><br/>
available: <input type="text" name="available" value="{{ item.available }}"/><br/>
<input type="submit"/>
</form>
</p>
<p>
<a href="/add/">New item</a>
</p>
{% endblock %}

